.spin-logo {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.orientation-wrapper {
  transform: rotate(90deg);
  transform-origin: center center;
  width: 100vh;
  height: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}


/* Portrait mode: rotate whole app */
@media screen and (max-aspect-ratio: 1/1) {
  .orientation-wrapper {
    transform: rotate(90deg) scale(0.75);
    width: 100vh;
    height: 100vw;
    left: calc((100vw - 100vh) / 2);
    top: calc((100vh - 100vw) / 2);
  }
}

